
.text-align{
  text-align:center;
}

.twitter, .youtube, .linkedin, .instagram, .facebook{
    color: white;
    padding: 1rem;
    font-size: 25px;

}

.twitter:hover, .youtube:hover, .linkedin:hover, .instagram:hover, .facebook:hover{
    color: black;  
}
 
/* ------------------------------  Local Responsive ---------------------------- */

/* Micro Media Query */
 
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .text-align{
      text-align:left;
    }

    .twitter, .youtube, .linkedin, .instagram, .facebook{
        padding: 5px; 
        font-size: 15px;        
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .text-align{
      text-align:left;
    }

    .twitter, .youtube, .linkedin, .instagram, .facebook{
        padding: 5px;
        font-size: 20px; 
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .text-align{
      text-align:center;
    }
    .twitter, .youtube, .linkedin, .instagram, .facebook{
        padding: 1rem;
        font-size: 25px;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .twitter, .youtube, .linkedin, .instagram, .facebook{
      padding: 1rem;
      font-size: 25px;
    } 
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .twitter, .youtube, .linkedin, .instagram, .facebook{
        padding: 1rem;
        font-size: 25px;
    }
  }