.cardMainDiv{
    padding-top: 0px;
}
.cardBody{
    margin-top: -100px;
    padding-top: 120px;
    height: 100%;
}
.cardHeader{
    top: 0px;
    position: absolute;
    z-index: 1;

}

.Cardcontent{
    font-size: 18px;
}