.verticalAnimation:before,
.verticalAnimation:after{ 
    content: ""; 
    position: absolute;  
    width: 50%;
    height: 25px;  
    
    -webkit-nimation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    
    animation-name: example;
    animation-duration: 4s;
    
}

.verticalAnimation:before{
	left:0px;  
    top: 0px;   
    background-color: black; 
 
}
.verticalAnimation:after{ 
    right:0px;
    top:100px;  
    background-color:black;  
}


 
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {width: 0%;}
  to {width: 50%;}
}
/* Standard syntax */
@keyframes example {
  from {width: 0%;}
  to {width: 50%;}
}